@{
    ViewBag.Title = "预约会议室";
}

<!--内嵌样式-->
<style type="text/css">
    #btn-sumbit {
        position: fixed;
        right: 5px;
        bottom: 5px;
    }

    @@media only screen and (max-width:570px) {
        .top-menu {
            display: none;
        }

        #btn-sumbit {
            width: 100%;
            right: 0;
            bottom: 0;
        }
    }
</style>

<!--引入外部导航栏样式文件-->
<link href="~/Content/css/top_menu.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />

<!--导航栏返回按钮-->
<div class="navbar-fixed-top">
    <div class="row top-menu">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a class="button button-primary button-circle button-border button-small" href="../MeetingRoom/Index" style="margin:5px;"><i class="fa fa-reply"></i></a>
            返回
        </div>
    </div>
</div>

<!--添加预约会议信息-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 -col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    会议预约信息
                </div>
                <div class="panel-body">
                    会议主题：
                    <br />
                    <input id="M_Title" type="text" class="form-control" placeholder="请输入会议主题信息..." />
                    <br />
                    会议室：
                    <br />
                    <select class="form-control" id="rooms">
                        @foreach (var item in @ViewData["all"] as IEnumerable<EasyWork.Models.MeetingRoom>)
                        {
                            <option value="@item.M_ID">@item.M_Name</option>
                        }

                    </select>
                    <br />
                    会议日期：
                    <br />
                    <input type="text" id="M_Date" class="form-control" placeholder="请选择会议日期..." onclick="WdatePicker({ skin: 'whyGreen', dateFmt: 'yyyy-MM-dd' })" />
                    <br />
                    参会时间：
                    <br />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="M_StartTime" class="form-control" placeholder="开始时间" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="M_EndTime" class="form-control" placeholder="结束时间" />
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<!--提交按钮-->
<div class="button button-primary" id="btn-sumbit">添加预约</div>

<!--引入外部js文件-->
    <script src="http://g.alicdn.com/ilw/ding/0.9.9/scripts/dingtalk.js"></script>

<script src="~/Content/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/top_menu-auto_hide.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    dd.config({
        agentId: _config.agentId,
        corpId: _config.corpId,
        timeStamp: _config.timeStamp,
        nonceStr: _config.nonceStr,
        signature: _config.signature,
        jsApiList:
         [
             'runtime.info',
             'biz.contact.choose',
             'device.notification.confirm',
             'device.notification.alert',
             'device.notification.prompt',
             'biz.ding.post',
             'runtime.permission.requestAuthCode',
             'device.geolocation.get',
             'biz.ding.post',
             'biz.contact.complexChoose',
             'biz.util.datepicker'
         ]
     });
    //钉钉移动端就绪函数
      dd.ready(function () {
        $("#M_Date").removeAttr("onclick"); //移除默认的my97时间选择器

        //日期文本框点击事件
        $("#M_Date").click(function () {
            var id = $(this).attr("id");
            //日期选择器
             dd.biz.util.datepicker({
                format: "yyyy年MM月dd日",
                onSuccess: function (date) {
                    //给文本框填充选择的日期
                    $("#" + id).val(date.value);
                }, onFail: function (err) {
                    alert("日期选择出现异常，请重试！");
                }
            });
        });

        //时间框点击事件
        $("#M_StartTime,#M_EndTime").click(function () {
            var id = $(this).attr("id");
            if (id == "M_StartTime") {
                $("#M_EndTime").val(null);
            }
            //时间选择器
             dd.biz.util.timepicker({
                format: "HH:mm",
                value: "08:30",
                onSuccess: function (time) {
                    //给文本框填充选择的时间
                    $("#" + id).val(time.value);
                }, onFail: function (err) {
                }
            });
        });
    });

    $(function () {
        var subscribeErrLable = $("#subscribe-err");
        var subscribeTitle = $("#M_Title");
        var subscribeDate = $("#M_Date");
        var subscribeStart = $("#M_StartTime");
        var subscribeEnd = $("#M_EndTime");
        subscribeTitle.blur(function () {
            if (subscribeTitle.val() == "") {
                subscribeErrLable.html("请填写会议主题");
            }
            else {
                subscribeErrLable.html("");
            }
        })
        subscribeDate.blur(function () {
            if (subscribeDate.val() == "") {
                subscribeErrLable.html("请填写会议时间");
            }
            else {
                subscribeErrLable.html("");
            }
        })
        subscribeStart.blur(function () {
            if (subscribeStart.val() == "") {
                subscribeErrLable.html("请填写开始时间");
            }
            else {
                subscribeErrLable.html("");
            }
        })
        subscribeEnd.blur(function () {
            if (subscribeEnd.val() == "") {
                subscribeErrLable.html("请填写结束时间");
            }
            else {
                subscribeErrLable.html("");
                var timeEnd = Date.parse(subscribeDate.val() + " " + subscribeEnd.val());
                var timeStart = Date.parse(subscribeDate.val() + " " + subscribeStart.val());
                if (timeEnd < timeStart) {
                    subscribeErrLable.html("会议时间有误");
                }
            }
        })
        var id = '@Model';
        if (id != "0") {
            $("#rooms").val(id);
        }
        else {
            $("#rooms").val("1");
        }
        $("#btn-sumbit").click(function () {
            $.post("../MeetingRoom/Subscribe", { M_ID: $("#rooms").val(), M_Date: $("#M_Date").val(), M_StartTime: $("#M_StartTime").val(), M_EndTime: $("#M_EndTime").val(), M_Title: $("#M_Title").val(), A_U_ID: '@ViewData["UserID"]' }, function (is) {
                if (is == "ok") {
                    swal({ title: "预约成功！", type: "success", timer: 1500, showConfirmButton: false });
                    setTimeout(" location.href = '../MeetingRoom/Index'", 1500);
                    //dd.device.notification.alert({
                    //    message: "会议预约成功！",
                    //    title: "温馨提示：",
                    //    buttonName: "确认",
                    //    onSuccess: function () {
                    //        //onSuccess将在点击button之后回调
                    //        setTimeout(" location.href = '../MeetingRoom/Index'");
                    //    }, onFail: function (err) {
                    //    }
                    //});
                }
                else {
                    swal("预约失败，请重新尝试！", "温馨提示：", "error");
                    //dd.device.notification.alert({
                    //    message: "时间存在冲突，会议预约失败！",
                    //    title: "温馨提示：",
                    //    buttonName: "确认",
                    //    onSuccess: function () {
                    //        //onSuccess将在点击button之后回调
                    //    }, onFail: function (err) {
                    //    }
                    //});
                }
            })
        });
    });
</script>